



<div class="row">
    <div class="large-12 columns">

    </div>
</div>

<div class="row">
    <div class="large-12 medium-12 columns">

        <form>
            <div class="row">
                <div class="large-12 columns">
                    <h4>Cohort Name</h4>
                    <input type="text" placeholder="WDI Chicago CohortName" />
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <h4>Lesson Title</h4>
                    <input type="text" placeholder="Adventures with JSON" />
                </div>
            </div>
            <div class="row">
                <div class="large-4 medium-4 columns">
                    <h4>Learning Objectives</h4>
                </div>
                <div class="large-4 medium-4 columns">
                    <label>Objective #1</label>
                    <input type="text" placeholder="Data needs structure" />
                </div>
                <div class="large-4 medium-4 columns">
                    <label>Objective #2</label>
                    <input type="text" placeholder="Key/Pair Data Structures" />
                </div>
            </div>
            <div class="row">

                <div class="large-4 medium-4 columns">
                    <label>Objective #3</label>
                    <input type="text" placeholder="Build JSON" />
                </div>
                <div class="large-4 medium-4 columns">
                    <label>Objective #4</label>
                    <input type="text" placeholder="Validate JSON" />
                </div>
                <div class="large-4 medium-4 columns">
                    <label>Objective #5</label>
                    <input type="text" placeholder="$.getJSON()" />
                </div>
            </div>
            <div class="row">
                <div class="large-4 medium-4 columns">
                    <h4>Quiz Questions</h4>
                </div>
                <div class="large-4 medium-4 columns">
                    <label>Question #1</label>
                    <input type="text" placeholder="Why JSON?" />
                </div>
                <div class="large-4 medium-4 columns">
                    <label>Question #2</label>
                    <input type="text" placeholder="What structures use key/value pair types?" />
                </div>
            </div>
            <div class="row">

                <div class="large-4 medium-4 columns">
                    <label>Question #3</label>
                    <input type="text" placeholder="What is a website that validates JSON?" />
                </div>
                <div class="large-4 medium-4 columns">
                    <label>Question #4</label>
                    <input type="text" placeholder="What is a pitfall you discovered while writing JSON?" />
                </div>
                <div class="large-4 medium-4 columns">
                    <label>Question #5</label>
                    <input type="text" placeholder="Describe a use for $.getJSON()" />
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <h4>Lesson Title</h4>
                    <input type="text" placeholder="Adventures with JSON" />
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <label>Lab Description</label>
                    <textarea placeholder="Today we're going to..."></textarea>
                </div>
            </div>

            <div class="row">
                <div class="large-12 columns">
                    <a href="#" class="small round button">Generate Markdown!</a><br/>
                </div>
            </div>

            <div class="row">
                <div class="large-12 columns">
                    <label>Markdown Output</label>
                    <textarea placeholder="Today we're going to..."></textarea>
                </div>
            </div>
        </form>
    </div>
</div>


<script>
    $(document).foundation();
</script>